<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <button id="themeBtn" class="theme-btn" onclick="toggleTheme()">☀ Light</button>

<div class="card">
    <h1>Register</h1>

    {% if error %}<p class="error">{{ error }}</p>{% endif %}

    <form method="POST">
        <input type="email" name="email" placeholder="Email" required><br><br>
        <input type="password" name="password" placeholder="Password" required><br><br>
        <button class="transcribe-btn">Register</button>
    </form>

    <p><a href="{{ url_for('login') }}">Back to Login</a></p>
</div>

<script src="{{ url_for('static', filename='theme.js') }}"></script>

</body>
</html>
